body {
    padding-bottom: 40px; /* espacio inferior */
}

/* 
   Tarjetas de coches
   .card es de Bootstrap, añado efecto hover

 */
.card {
    border-radius: 15px; /* bordes redondeados */
    transition: transform 0.2s; /* transición suave */
}

.card:hover {
    transform: scale(1.03); /* aumenta tamaño al pasar el ratón */
    cursor: pointer; /* cursor tipo mano */
}


.correcto { border: 2px solid green !important; }
.incorrecto { border: 2px solid red !important; }

/*
   Logos de marcas, efecto hover
 */
.logo-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* transición suave */
    cursor: pointer; /* cursor mano */
    height: 200px;
    width: 200px;
}

.logo-hover:hover {
    transform: scale(1.08); /* aumenta tamaño al pasar el ratón */
    box-shadow: 0 8px 20px rgba(0,0,0,0.25); /* sombra suave */
}



/* Ventanas emergentes tipo modal */
.ventana {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ventana-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

/* Botón cerrar modal */
.ventana .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
